{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado de <strong>Imágenes</strong></h1><br>

    <table id="tabla_buscar" class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
        {% for imagen in imagens %}
            <tr>
                <td>{{ imagen.id }}</td>
                <td>{{ imagen.nombre }}</td>
                <td>
                    <a href="{{ path('imagen_show', { 'id': imagen.id }) }}" class="btn btn-info btn-xs" role="button">Visualizar</a>
                    <a href="{{ path('imagen_edit', { 'id': imagen.id }) }}" class="btn btn-warning btn-xs" role="button">Modificar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('imagen_new') }}" class="btn btn-success btn-md" role="button">Nueva imágen</a>
{% endblock %}
