{% extends 'base.html.twig' %}

{% block body %}
    <h1>Imágen <strong>{{ imagen.nombre }}</strong></h1><br>
    <h4><strong>ID: </strong>{{ imagen.id }}</h4>
    <h4><strong>Nombre: </strong>{{ imagen.nombre }}</h4><br>
    <img id="imagen_puntodeinteres" src="{{asset( 'img/puntosdeinteres/' ~ imagen.nombre )}}" class="img-responsive"><br>


    <a href="{{ path('imagen_index') }}" class="btn btn-primary" role="button">Volver</a>
    <a href="{{ path('imagen_edit', { 'id': imagen.id }) }}" class="btn btn-warning" role="button">Modificar</a>
    {{ form_start(delete_form) }}
        <br><input type="submit" value="Eliminar" class="btn btn-danger" role="button">
    {{ form_end(delete_form) }}
{% endblock %}