{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nuevo <strong>Punto de Interés</strong></h1><br>

    {{ form_start(form) }}




        {{ form_widget(form) }}


     

        <br>
        <a href="{{ path('puntodeinteres_index') }}" class="btn btn-primary" role="button">Volver</a>
        <input type="submit" value="Crear" class="btn btn-success" role="button"/>
    {{ form_end(form) }}

{% endblock %}

{% block body2 %}
    {{ include('mapas/map_new.html.twig') }}
{% endblock %}
