{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado de <strong>Enlaces</strong></h1><br>

    <table id="tabla_buscar">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>ENLACE</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
        {% for enlace in enlaces %}
            <tr>
                <td>{{ enlace.id }}</td>
                <td>{{ enlace.nombre }}</td>
                <td>{{ enlace.enlace }}</td>
                <td>
                    <a href="{{ path('enlace_show', { 'id': enlace.id }) }}" class="btn btn-info btn-xs" role="button">Visualizar</a>
                    <a href="{{ path('enlace_edit', { 'id': enlace.id }) }}" class="btn btn-warning btn-xs" role="button">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('enlace_new') }}" class="btn btn-success btn-md" role="button">Nuevo enlace</a>
{% endblock %}
