{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modificar <strong>Video</strong></h1><br>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <br>
        <a href="{{ path('video_index') }}" class="btn btn-primary" role="button">Volver</a>
        <input type="submit" value="Modificar" class="btn btn-success" role="button"/>
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
        <br><input type="submit" value="Eliminar" class="btn btn-danger" role="button" onclick="return confirm('are u sure?')">
    {{ form_end(delete_form) }}
{% endblock %}
