{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado de <strong>Videos</strong></h1><br>

    <table id="tabla_buscar">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>ENLACE</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td>{{ video.id }}</td>
                <td>{{ video.nombre }}</td>
                <td>{{ video.enlace }}</td>
                <td>
                    <a href="{{ path('video_show', { 'id': video.id }) }}"  class="btn btn-info btn-xs" role="button">Visualizar</a>
                    <a href="{{ path('video_edit', { 'id': video.id }) }}" class="btn btn-warning btn-xs" role="button">Modificar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('video_new') }}" class="btn btn-success btn-md" role="button">Nuevo video</a>
{% endblock %}
