{% extends 'base.html.twig' %}

{% block body %}
    <h1>Video <strong>{{ video.nombre }}</strong></h1><br>
    <h4><strong>ID: </strong>{{ video.id }}</h4>
    <h4><strong>Nombre: </strong>{{ video.nombre }}</h4><br>
    <div id="video_puntodeinteres">
        <iframe id="video_puntodeinteres" src="{{video.enlace}}" frameborder="0" allowfullscreen></iframe>
    </div>
    <br>

    <a href="{{ path('video_index') }}" class="btn btn-primary" role="button">Volver</a>

    <a href="{{ path('video_edit', { 'id': video.id }) }}" class="btn btn-warning" role="button">Modificar</a>

    {{ form_start(delete_form) }}
        <br><input type="submit" value="Eliminar" class="btn btn-danger" role="button">
    {{ form_end(delete_form) }}
{% endblock %}